@mixin transition {
  transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}

@mixin shadowbot {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

@mixin objectfitcover {
  object-fit: cover;
  -moz-object-fit: cover;
  -webkit-object-fit: cover;
  -ms-object-fit: cover;
  -o-object-fit: cover;
}

@mixin sitefont {
  font-family: "Poppins", sans-serif;
  color: $black;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: $fsize;
  line-height: $fsize + 10;
  letter-spacing: 0;
  font-weight: 400;
}



@mixin verticalcenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  flex-direction: column;
}

@mixin clearfix() {
  &::after {
    display: block;
    content: "";
    clear: both;
  }
}

@mixin bluegradient {
  background: #014d98;
  background: linear-gradient(
    0deg,
    rgba(1, 77, 152, 1) 0%,
    rgba(1, 77, 152, 1) 100%
  );
}

//mixin alignitems
@mixin alignItems($value) {
  @if $value == flexStart {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: flex-start !important;
  }
  @if $value == flexEnd {
    -webkit-box-align: end !important;
    -ms-flex-align: end !important;
    align-items: flex-end !important;
  }
  @if $value == center {
    -webkit-box-align: center !important;
    -ms-flex-align: center !important;
    align-items: center !important;
  }
  @if $value == baseline {
    -webkit-box-align: baseline !important;
    -ms-flex-align: baseline !important;
    align-items: baseline !important;
  }
  @if $value == stretch {
    -webkit-box-align: stretch !important;
    -ms-flex-align: stretch !important;
    align-items: stretch !important;
  }
}

//mixins for devices responsive
@mixin minMax($min, $max){
  @media (min-width:$min) and (max-width:$max){
    @content;
  }
};

@mixin min($min){
  @media (min-width:$min){
    @content;
  }
};

@mixin max($max) {
  @media (max-width:$max){
    @content;
  }
};