//variables
$black: #000;
$white: #fff;
$fsize: 14px;
$gray: #1d1d1d;
$yellow:#FFBE00;
$blue:#011B47;
$lightBlue:#E8F0FF;


//devices breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1600px;