@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");
body {
  background: #f6fafb;
  font-family: "Poppins", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

body p {
  margin: 0;
}

body ul,
body li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body a:hover {
  text-decoration: none;
}

.btn {
  background: #000;
  color: #fff;
  border-radius: 0;
  border: 1px solid transparent;
}

.btn:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000;
}

.fsbold, header .topHeader .navbar-nav .nav-item > .nav-link, .subPage .subpageHeader article h1, .results .scoreDiv {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

.flight {
  font-weight: 300;
}

.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

.fblue {
  color: #011B47;
}

.fyellow {
  color: #FFBE00;
}

.fwhite {
  color: #fff;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}

.sticked .container-fluid {
  box-shadow: 0 2px 4px #c4c4c4;
  -moz-box-shadow: 0 2px 4px #c4c4c4;
  -webkit-box-shadow: 0 2px 4px #948d8d;
  -ms-box-shadow: 0 2px 4px #c4c4c4;
  -o-box-shadow: 0 2px 4px #c4c4c4;
}

.sticked .Topheader {
  margin-top: -36px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

header {
  background: #FFBE00;
  height: 106px;
  position: relative;
}

header .navbar-collapse {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar-brand img {
  width: 98px;
}

header .bsnav {
  background: none;
}

header .topHeader .navbar-nav .nav-item > .nav-link {
  padding: 5px 12px;
  text-transform: uppercase;
  font-size: 12px;
}

header .topHeader .searchSection {
  padding-left: 100px;
}

header .topHeader .searchSection .searchSectionIn {
  background: #cc9800;
  width: 200px;
  height: 35px;
  margin-top: 3px;
}

header .topHeader .searchSection .searchSectionIn input[type="text"] {
  width: 160px;
  background: none;
  border: none;
  padding-left: 10px;
}

header .topHeader .searchSection .searchSectionIn input[type="text"]:focus {
  outline: none;
  border: none;
}

header .topHeader .searchSection .searchSectionIn a {
  padding: 10px;
  line-height: 16px;
}

header .topHeader .searchSection .searchSectionIn a .icomoon {
  color: #000;
}

header .bottomnavbar {
  width: 94%;
  position: relative;
}

header .bottomnavbar .dropdown.fade .nav-item .nav-link {
  color: #000 !important;
}

header .bottomnavbar .dropdown.fade .nav-item .nav-link:hover {
  background: #FFBE00;
}

header .bottomnavbar .nav-item .nav-link {
  color: #fff;
}

.subPage .subpageHeader {
  background: url(../img/sub-banner.jpg) no-repeat 0 0;
  background-size: cover;
  min-height: 200px;
  position: relative;
}

.subPage .subpageHeader:before {
  content: "";
  background: #011B47;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
}

.subPage .subpageHeader article {
  padding-top: 50px;
  position: relative;
}

.subPage .subpageHeader article h1 {
  font-size: clamp(1.5rem, 2vw, 2.5rem);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.navLeague {
  margin-top: -60px;
  position: relative;
  margin-bottom: 30px;
}

.navLeague .nav .nav-item .nav-link {
  color: #fff;
}

.navLeague .nav .nav-item .nav-link:hover {
  background: #fff;
  color: #000;
}

.navLeague .nav .nav-item .active {
  background: #FFBE00;
  color: #000;
}

.titleHeader {
  background: #011B47;
  padding: 10px;
}

.titleHeader h2 {
  font-size: clamp(1rem, 1.2vw, 1rem);
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.titleHeader a {
  color: #fff;
}

.titleHeader .dropdown .dropdown-menu {
  left: inherit;
  right: 0;
}

.titleHeader .dropdown .dropdown-menu .dropdown-item {
  color: #000 !important;
  font-size: 13px;
}

.titleHeader .dropdown .btn {
  padding: 0;
  background: none;
  border: none;
}

.titleHeader .dropdown .btn:hover {
  color: #fff;
}

.navLeagueList li a {
  color: #000;
  display: block;
  background: #E8F0FF;
  padding: 5px 10px;
  margin-bottom: 1px;
}

.navLeagueList li a:hover {
  background: #FFBE00;
}

.dateWiseMatches .subDate {
  background: #FFBE00;
  padding: 3px;
  font-size: 14px;
  margin: 0;
}

.dateWiseMatches .table tr td {
  background: #E8F0FF;
}

.dateWiseMatches .table tr td span.tileLabel {
  background: #011B47;
  display: inline-block;
  padding: 0 8px;
  color: #fff;
  font-size: 12px;
  border-radius: 3px;
}

.dateWiseMatches .table tr td span.tileLabel .leftMatch {
  text-align: right;
  width: 40%;
  margin-right: 15px;
  color: #000;
  font-size: 12px;
}

.dateWiseMatches .table tr td span.tileLabel .rightMatch {
  text-align: left;
  width: 40%;
  margin-right: 15px;
  color: #000;
  font-size: 12px;
}

.table td,
.table th {
  padding: 3px;
  font-size: 13px;
}

.iconThumb {
  width: 18px;
}

.standingsTable {
  height: 500px;
  overflow-y: auto;
}

.standingsTable .table th {
  background: #FFBE00;
}

.standingsTable .lastMatchesScore span {
  width: 30px;
  height: 30px;
  background: #E8F0FF;
  display: inline-block;
  text-align: center;
  line-height: 30px;
}

.dateWiseMatches {
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
}

.results li a div {
  font-size: 13px;
  color: #000;
}

.results .scoreDiv {
  width: 150px;
  text-align: center;
}

.results .leftScore {
  width: 30%;
}

.results .rightScore {
  width: 30%;
}

footer {
  background: #011B47;
  margin-top: 50px;
  padding: 25px 0;
  color: #fff;
}

footer .copyright {
  color: #fff;
  font-size: 13px;
}

footer .nav .nav-item .nav-link {
  color: #fff;
}

footer .nav .nav-item .nav-link:hover {
  text-decoration: underline;
}

.calDrop .calendarPop {
  min-width: 306px;
  height: auto;
  padding: 10px;
  font-size: 13px;
}

.calDrop .calendarPop input {
  width: 100%;
}

.calDrop .btn {
  font-size: 14px;
}
/*# sourceMappingURL=style.css.map */