@import "variables";
@import "mixins";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap");

body {
  background: #f6fafb;
  @include sitefont;
  p {
    margin: 0;
  }
  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    &:hover {
      text-decoration: none;
    }
  }
}

.btn {
  background: $black;
  color: $white;
  border-radius: 0;
  border: 1px solid transparent;

  &:hover {
    background: $white;
    color: $black;
    border: 1px solid $black;
  }
}

.fsbold {
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.flight {
  font-weight: 300;
}
.fbold {
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
.fblue {
  color: $blue;
}

.fyellow {
  color: $yellow;
}
.fwhite {
  color: $white;
}

.customContainer {
  width: 90%;
  margin: 0 auto;
}

.sticked {
  .container-fluid {
    @include shadowbot;
  }
  .Topheader {
    margin-top: -36px;
    box-shadow: none;
  }
}

//header styles
header {
  background: $yellow;
  height: 106px;
  position: relative;

  .navbar-collapse {
    flex-wrap: wrap;
  }

  .navbar-brand {
    img {
      width: 98px;
    }
  }

  .bsnav {
    background: none;
  }

  .topHeader {
    .navbar-nav {
      .nav-item {
        > .nav-link {
          padding: 5px 12px;
          text-transform: uppercase;
          @extend .fsbold;
          font-size: $fsize - 2;
        }
      }
    }
    .searchSection {
      padding-left: 100px;

      .searchSectionIn {
        background: darken($yellow, 10%);
        width: 200px;
        height: 35px;
        margin-top: 3px;

        input[type="text"] {
          width: 160px;
          background: none;
          border: none;
          padding-left: 10px;

          &:focus {
            outline: none;
            border: none;
          }
        }
        a {
          padding: 10px;
          line-height: 16px;

          .icomoon {
            color: $black;
          }
        }
      }
    }
  }

  //bottom header
  .bottomnavbar {
    width: 94%;
    position: relative;

    .dropdown.fade {
      .nav-item {
        .nav-link {
          color: $black !important;

          &:hover {
            background: $yellow;
          }
        }
      }
    }

    .nav-item {
      .nav-link {
        color: $white;
      }
    }
  }
}

.subPage {
  .subpageHeader {
    background: url(../img/sub-banner.jpg) no-repeat 0 0;
    background-size: cover;
    min-height: 200px;
    position: relative;

    &:before {
      content: "";
      background: $blue;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0.7;
    }
    article {
      padding-top: 50px;
      position: relative;
      h1 {
        font-size: clamp(1.5rem, 2vw, 2.5rem);
        color: $white;
        text-transform: uppercase;
        @extend .fsbold;
        letter-spacing: 5px;
      }
    }
  }
}

.navLeague {
  margin-top: -60px;
  position: relative;
  margin-bottom: 30px;
  .nav {
    .nav-item {
      .nav-link {
        color: $white;

        &:hover {
          background: $white;
          color: $black;
        }
      }
      .active {
        background: $yellow;
        color: $black;
      }
    }
  }
}

.titleHeader {
  background: $blue;
  padding: 10px;

  h2 {
    font-size: clamp(1rem, 1.2vw, 1rem);
    color: $white;
    text-transform: uppercase;
    margin: 0;
  }
  a {
    color: $white;
  }
  .dropdown {
    .dropdown-menu {
      left: inherit;
      right: 0;
      .dropdown-item {
        color: $black !important;
        font-size: $fsize - 1;
      }
    }
    .btn {
      padding: 0;
      background: none;
      border: none;

      &:hover {
        color: $white;
      }
    }
  }
}

.navLeagueList {
  li {
    a {
      color: $black;
      display: block;
      background: $lightBlue;
      padding: 5px 10px;
      margin-bottom: 1px;

      &:hover {
        background: $yellow;
      }
    }
  }
}

.dateWiseMatches {
  .subDate {
    background: $yellow;
    padding: 3px;
    font-size: $fsize;
    margin: 0;
  }
}

.dateWiseMatches {
  .table {
    tr {
      td {
        background: $lightBlue;
        span.tileLabel {
          background: $blue;
          display: inline-block;
          padding: 0 8px;
          color: $white;
          font-size: $fsize - 2;
          border-radius: 3px;

          .leftMatch {
            text-align: right;
            width: 40%;
            margin-right: 15px;
            color: $black;
            font-size: $fsize - 2;
          }
          .rightMatch {
            text-align: left;
            width: 40%;
            margin-right: 15px;
            color: $black;
            font-size: $fsize - 2;
          }
        }
      }
    }
  }
}

.table td,
.table th {
  padding: 3px;
  font-size: $fsize - 1;
}

.iconThumb {
  width: 18px;
}

.standingsTable {
  height: 500px;
  overflow-y: auto;
  .table {
    th {
      background: $yellow;
    }
  }
  .lastMatchesScore {
    span {
      width: 30px;
      height: 30px;
      background: $lightBlue;
      display: inline-block;
      text-align: center;
      line-height: 30px;
    }
  }
}

.dateWiseMatches {
  height: 500px;
  overflow: hidden;
  overflow-y: auto;
}

.results {
  li {
    a {
      div {
        font-size: $fsize - 1;
        color: $black;
      }
    }
  }
  .scoreDiv {
    width: 150px;
    text-align: center;
    @extend .fsbold;
  }
  .leftScore {
    width: 30%;
  }
  .rightScore {
    width: 30%;
  }
}

footer {
  background: $blue;
  margin-top: 50px;
  padding: 25px 0;
  color: $white;

  .copyright {
    color: $white;
    font-size: $fsize - 1;
  }
  .nav {
    .nav-item {
      .nav-link {
        color: $white;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.calDrop {
  .calendarPop {
    min-width: 306px;
    height: auto;
    padding: 10px;
    font-size: $fsize - 1;

    input {
      width: 100%;
    }
  }
  .btn {
    font-size: $fsize;
  }
}
